/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  background-color: #003386;
  color: white;
  height: 100vh;
  padding: 20px;
  border-top: 1px solid gray;
  transition: transform 0.3s ease;
  z-index: 1999;
}

/* Hidden and Visible Sidebar States */
.hidden {
  transform: translateX(-85%);
}

.visible {
  transform: translateX(0);
}

/* Toggle Button */
.toggleButton {
  position: absolute;
  top: 15px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 2000;
  display: none;
}

/* Navigation List */
.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navItem a {
  text-decoration: none;
  color: inherit;
}

/* Hover Effect */
.navItem:hover {
  color: #cac9c9;
}

/* Active Link Style */
.active {
  color: #cac9c9;
  font-weight: bold;
}

/* Icons */
.icon {
  font-size: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .toggleButton {
    display: block;
  }

  .menu {
    font-size: 24px;
    margin-left: 210px;
    color: white;
  }
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0) !important;
  }
}