.cardGroup {
  display: flex;
  margin-top: 2px;
  justify-content: center;
  gap: 20px; /* Reduce the gap between cards */
  padding: 20px;
  flex-wrap: wrap; /* Allow cards to wrap onto the next line */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 90px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.plus {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 16px;
  color: #666;
}

/* Mobile Devices (Portrait) */
@media (max-width: 480px) {
  .cardGroup {
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: 45%; /* Two cards per row */
  }
}

/* Mobile Devices (Landscape) and Tablets */
@media (max-width: 768px) {
  .cardGroup {
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: 45%; /* Two cards per row */
  }
}
